/* import css */
@import "./color.css";
@import "./font.css";
/**/
/* Classes especificas */
 #tsparticles {
          position: fixed;
          top: 0; 
          left: 0;
          width: 100%; 
          height: 100%;
          z-index: -1; 
 }

 /* header menu navigation */
header {
    width: 100%;
    padding:20px 2%;
    position: fixed;
    background-color:var(--color-seven);
    border-bottom: 1px solid var(--color-four);
    top:0;
    left:0;
    z-index:10;
}

header .flex-dimension {
    align-items:center;
    justify-content: space-between;
}

.logo-brands {
    display:flex;
    align-items:center;
    gap:0.4rem;
}

.logo-brands h2 {
    color:var(--color-two);
    font-size:1.4rem;
    font-family:var(--font-poppins);
}

.logo-brands img {
    width: 28px;
    height:28px;
}

nav.nav-desktop .list-nav {
    display:flex;
    list-style-type:none;
}

nav.nav-desktop .list-nav li  {
    padding:0 10px;
}

nav.nav-desktop .list-nav li a {
    color:var(--color-two);
    font-size: 1rem;
    font-family:var(--font-inter);
    text-decoration:none;
}

nav.nav-desktop .list-nav li a:hover {
    color:var(--color-tree);
}

.wrapper-header {
    display:flex;
    align-items:center;
    gap:1rem;
}

.btn-menu a button {
    background-color:var(--color-one);
    border: none;
    padding: 15px 30px;
    color:var(--color-two);
    font-size: 1.1rem;
    font-family:var(--font-inter);
    font-weight:bold;
    border-radius:10px;
    transition: .5s ease;
    cursor: pointer;
}

.btn-menu a button:hover {
    background-color:var(--color-four);
}

.btn-menu a button i {
    font-size: 1.1rem;
}

.icons-header {
    display:flex;
    align-items:center;
    gap:0.8rem;
}

.social-header i {
    color:var(--color-four);
    font-size: 1.3rem;
    cursor: pointer
}
/* list-mobile */

.wrapper-mobile {
    display:none;
}

.wrapper-mobile .flex-dimension {
    align-items:center;
    gap:1rem;
}

.social-mobile {
    display:none;

}

.icons-mobile {
    display:flex;
    align-items:center;
    gap:0.8rem;
}
.list-mobile {
    display:none;
    width:45px;
    height:45px;
    position: relative;
    background-color:var(--color-one);
    border-radius:5px;
}

.list-mobile:hover {
     background-color:var(--color-four);
}

.list-mobile img {
    width:34px;
    height:34px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}

.menu-mobile {
    width:0px;
    height:100vh;
    position: fixed;
    top:0;
    right:0;
    background-color:var(--color-thirteen);
    overflow:hidden;
    transition:.5s ease;
    z-index:99999;
}

.menu-mobile.show-menu {
    width:300px;
}

nav.nav-mobile  .mobile-list {
    padding:80px 0;
}

nav.nav-mobile .mobile-list li {
    padding:20px 5%;
    list-style-type: none;
}

nav.nav-mobile .mobile-list  li:hover {
    background-color:var(--color-fourteen);
    cursor: pointer;
}

nav.nav-mobile .mobile-list li  a {
    color:var(--color-two);
    font-size: 1rem;
    font-family:var(--font-inter);
    text-decoration:none;
}

nav.nav-mobile .mobile-list li a:hover {
    color:var(--color-tree);
}


.btn-mobile {
    text-align: center;
}

.btn-mobile a button {
    background-color:var(--color-one);
    border: none;
    padding: 15px 30px;
    color:var(--color-two);
    font-size: 1.1rem;
    font-family:var(--font-inter);
    font-weight:bold;
    border-radius:10px;
    transition: .5s ease;
    cursor: pointer;
}

.btn-mobile a button:hover {
    background-color:var(--color-four);
}

.btn-mobile a button i {
    font-size: 1.1rem;
}

.close-btn {
    text-align: center;
    padding-top:2rem;
}

.close-btn img {
    cursor: pointer;
}

/* section session-description */

section.session-description {
    width:100%;
    padding:90px 2%;
    position: relative;
    z-index:1;
}

.wrapper-center {
 margin-top:3.5rem;
}

.group-single {
    width: 300px;
    height:45px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:0.3rem;
    border:2px solid var(--color-one);
    border-radius: 10px;
    margin-bottom:0.8rem;
}

.group-single h3 {
    color:var(--color-two);
    font-size: 1.1rem;
    font-family:var(--font-inter);
}

.group-single i {
    color:var(--color-one);
    font-size: 1.3rem;
}

.title-information {
    text-align: center;
}

.title-information h1 {
    color:var(--color-two);
    font-size:3.5rem;
    font-family:var(--font-poppins);
    max-width:550px;
    margin:10px auto;
}

.title-information p {
    color:var(--color-five);
    font-size: 1rem;
    font-family:var(--font-inter);
    max-width:530px;
    margin:0 auto;
    line-height: 28px;
}

.button-parts {
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top:2rem;
}

.btn-whats {
    background-color:var(--color-one);
    border: none;
    padding: 15px 30px;
    color:var(--color-two);
    font-size: 1.1rem;
    font-family:var(--font-inter);
    font-weight:bold;
    border-radius:10px;
    transition: .5s ease;
    cursor: pointer;
}

.btn-contact a button:hover {
    background-color:var(--color-four);
}

/* section session-about */
section.session-about {
    width: 100%;
    padding:90px 2%;
    background-color:var(--color-six);
}

section.session-about .flex-dimension {
 gap:2rem;
 align-items: center;
}

.left-image img {
    width:400px;
    border-radius:10px;
    box-shadow: 0 15px 30px rgba(0, 93, 255, 0.25);
}

.title-about {
    margin-bottom:0.8rem;
}


.title-about h2 {
    color:var(--color-two);
    font-size: 2.3rem;
    font-family:var(--font-poppins);
}

.border-bottom {
    width:70px;
    height:2px;
    background-color:var(--color-eight);
}

.text-right p {
 color:var(--color-five);
 font-size: 1rem;
 font-family:var(--font-inter);
 max-width:630px;
 line-height: 26px;
 margin-bottom:0.8rem;
}

.grid-soft {
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:1rem;
}

.skills-line {
    margin-top:2rem;
}

.skills-line h2 {
    color:var(--color-two);
    font-size: 2rem;
    font-family:var(--font-inter);
    margin-bottom:0.8rem;
}

.box-skills {
    display:flex;
    align-items: center;
    gap:0.4rem;
    justify-content: center;
    background-color: var(--color-nine);
    padding:10px 20px;
    border-radius:10px;
    border: 1px solid var(--color-one);
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 93, 255, 0.15);
}

.box-skills img {
    width: 19px;
    height:19px;
}

.box-skills h3 {
    color:var(--color-two);
    font-size: 1.3rem;
    font-family:var(--font-poppins);
    cursor: pointer;
}


.box-skills h3:hover {
    color:var(--color-two);
}

/* section-session-servicos */
section.session-servicos {
    width: 100%;
    padding:90px 2%;
    background-color:var(--color-ten);
}

.title-servicos {
    text-align: center;
}

.title-servicos h2 {
    color:var(--color-two);
    font-size: 2.3rem;
    font-family:var(--font-poppins);
}

.title-servicos .border-bottom {
    margin:0.3rem auto;
}

.text-servicos p {
 color:var(--color-five);
 font-size: 1rem;
 font-family:var(--font-inter);
 text-align: center;
 line-height: 28px;
 margin-top:0.8rem;
}

section.session-servicos  .flex-dimension {
  align-items: center;
  justify-content: center;
  gap:2rem;
  margin-top:3rem;
}

.card-servicos {
    width:350px;
    height:250px;
    padding:20px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 93, 255, 0.15);
    border-radius:10px;
    background-color:var(--color-eleven);
    border:1px solid var(--color-twelve);
    transition:.5s ease;
    cursor: pointer;
}

.card-servicos:hover {
    transform: scale(1.1);
}

.icon-card {
    width: 60px;
    height:60px;
    position: relative;
    background-color:var(--color-six);
    border:1px solid var(--color-twelve);
    border-radius:8px;
    margin-bottom:0.8rem;
}

.title-card h2 {
    color:var(--color-two);
    margin-bottom:0.8rem;
    font-size: 1.4rem;
    font-family:var(--font-poppins);
}

.icon-card  img{
    width:25px;
    height:25px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.text-card p {
    color:var(--color-five);
    font-size: 1rem;
    font-family:var(--font-inter);
    line-height: 28px;
}

/* section session-project */
section.session-project {
    width: 100%;
    padding:90px 2%;
    background-color:var(--color-six);
}

section.session-project  .grid-projects {
    display: grid;
    grid-template-columns:repeat(2,1fr);
    max-width: 720px;
    gap:1rem;
    margin:10px auto;
}

.title-project {
    text-align: center;
}

.title-project h2 {
    color:var(--color-two);
    font-size: 2.3rem;
    font-family:var(--font-poppins);
}

.title-project .border-bottom {
     margin:0.3rem auto;
}

.text-project p {
    color:var(--color-five);
    font-size: 1rem;
    font-family:var(--font-inter);
    text-align: center;
    line-height: 28px;
    margin-top:0.8rem;
}

.wix-project {
    transition:.5s ease;
    cursor: pointer;
}
.wix-project:hover {
    transform: scale(1.1);
}

.img-project  {
 width:320px;
 height:200px;
 background-position: center;
 background-size:100% auto;
 background-color: var(--color-thirteen);
 border-radius: 10px 10px 0 0;
 border:1px solid var(--color-twelve);
 background-repeat: no-repeat;

}


.content-project {
    width: 320px;
    height:250px;
    padding:28px;
    background-color:var(--color-eleven);
    border:1px solid var(--color-twelve);
     border-radius: 0 0 10px 10px;
}

.content-project h2 {
    color:var(--color-two);
    margin-bottom:0.3rem;
    font-size:1.5rem;
    font-family:var(--font-poppins);
}

.content-project p {
     color:var(--color-five);
    font-size: 1rem;
    font-family:var(--font-inter);
    line-height: 28px;
}

.btn-push {
    margin-top:1.3rem;
}

.btn-project a .btn-push{
    background-color:var(--color-one);
    border: none;
    padding: 15px 30px;
    color:var(--color-two);
    font-size: 1.1rem;
    font-family:var(--font-inter);
    font-weight:bold;
    border-radius:10px;
    transition: .5s ease;
    cursor: pointer;
}

.btn-project {
    text-align: center;
}

.btn-project a .btn-push:hover {
    background-color:var(--color-four);
}

/* section session-contact */
section.session-contact {
    width: 100%;
    padding:90px 2%;
    background-color:var(--color-ten);
}

.title-contact {
    text-align:center;
}

.title-contact h2 {
     color:var(--color-two);
    font-size: 2.3rem;
    font-family:var(--font-poppins);
}

.title-contact p {
    color:var(--color-five);
    font-size: 1rem;
    font-family:var(--font-inter);
    text-align: center;
    margin-top:0.8rem;
}

.form-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top:3rem;
}

form.form-register {
    width:100%;
    max-width:500px;
    border-radius:10px;
    padding:30px;
    height:450px;
    background-color:var(--color-eleven);
    border:1px solid var(--color-twelve);
   
}

.input-name {
    display: flex;
    flex-direction: column;
    margin-bottom:0.9rem;
}

.input-name label {
     color:var(--color-five);
     margin-bottom:0.4rem;
     font-size: 1rem;
     font-family:var(--font-inter);
}

.input-name input[type=text] {
    padding:15px 30px;
    border-radius:10px;
    border: 1px solid  var(--color-twelve);
    background-color:var(--color-eleven);
     font-size:0.8rem;
     font-family:var(--font-inter);
    color:var(--color-five);
}

.input-name input[type=text]:focus {
    border: 1px solid var(--color-eight);
}

.input-email {
    display:flex;
    flex-direction: column;
    margin-bottom:0.9rem;
}

.input-email label {
     color:var(--color-five);
     margin-bottom:0.4rem;
     font-size: 1rem;
     font-family:var(--font-inter);
}

.input-email input[type=text] {
    padding:15px 30px;
    border-radius:10px;
     color:var(--color-five);
    border: 1px solid  var(--color-twelve);
    background-color:var(--color-eleven);
     font-size:0.8rem;
     font-family:var(--font-inter);
}

.input-email input[type=text]:focus {
    border: 1px solid var(--color-eight);
}
                        
.textarea-mensage {
    display:flex;
    flex-direction: column;
}

.textarea-mensage label {
     color:var(--color-five);
     margin-bottom:0.4rem;
     font-size: 1rem;
     font-family:var(--font-inter);
}


.textarea-mensage textarea {
    width:100%;
    height:120px;
    resize: none;
     font-size:0.8rem;
     font-family:var(--font-inter);
    color:var(--color-five);
    padding:10px;
     border-radius:10px;
    border: 1px solid  var(--color-twelve);
    background-color:var(--color-eleven);
}

.textarea-mensage textarea:focus {
    border: 1px solid var(--color-eight);
}

.input-submit {
    margin-top:1rem;
}

.input-submit .btn-form {
    background-color:var(--color-one);
    border: none;
    padding: 15px 30px;
    color:var(--color-two);
    font-size: 1.1rem;
    font-family:var(--font-inter);
    font-weight:bold;
    border-radius:10px;
    transition: .5s ease;
    cursor: pointer;
}

.input-submit .btn-form:hover {
    background-color:var(--color-four);
}

/* footer */

footer {
    width: 100%;
    padding:20px 2%;
    background-color:var(--color-thirteen);
}

footer .flex-dimension {
    align-items: center;
    justify-content:center;
    flex-direction: column;
    padding-top:3rem;
}


.logo-footer {
    display:flex;
    align-items:center;
    gap:0.4rem;
    margin-bottom:0.6rem;
}

.logo-footer h2 {
    color:var(--color-two);
    font-size:2rem;
    font-family:var(--font-poppins);
    text-align: center;
  
}

.logo-footer img {
    width: 30px;
    height:30px;
}


.icons-footer {
    display:flex;
    align-items:center;
    gap:0.8rem;
}

.icon-social i {
    color:var(--color-four);
    font-size: 1.3rem;
    cursor: pointer;
}


.term-footer {
    text-align: center;
    margin-top:4rem;
}

.border-term {
    width:100%;
    max-width:1200px;
    height:1px;
    margin: 30px auto;
    background-color:var(--color-fiveteen);
}

.term-footer p {
    color:var(--color-five);
    font-size: 0.9rem;
    font-family:var(--font-inter);
}


.whatsapp-float {
    position: fixed;
    width: 70px;
    height: 70px;
    bottom: 25px;
    right: 25px;
    background-color: var(--color-four);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
    cursor: pointer;
    animation: pulse 1.6s infinite;
}

.whatsapp-float:hover {
    transform: scale(1.1);
}


.whatsapp-icon {
    width: 40px;
    height: 40px;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.16); }
    100% { transform: scale(1); }
}


.whatsapp-tooltip {
    position: absolute;
    right: 80px;
    background:var( --color-eight);
    color:var(--color-two);
    padding: 8px 14px;
    border-radius: 6px;
    font-size: 1rem;
    font-family:var(--font-inter);
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transform: translateY(0);
    transition: 0.3s ease;
}

.whatsapp-float:hover .whatsapp-tooltip {
    opacity: 1;
    transform: translateY(-5px);
}
/**/


/**/
